$base00: #000000;
$base01: #000000;
$base02: #000000;
$base02: #000000;
$base03: #000000;
$base04: #000000;
$base05: #000000;
$base06: #000000;
$base07: #000000;
$base08: #000000;
$base09: #000000;
$base0A: #000000;
$base0B: #000000;
$base0B: #000000;
$base0C: #000000;
$base0D: #000000;
$base0E: #000000;
$base0F: #000000;

// @content

window.bar {
	background: transparent;
    color: $base00;
}

window {
	border-bottom: 5px;
	border-color: black;
}

.workspaces {
	border-color: black;
	border-style: solid;
	margin-right: 0;

	border-top: 3px solid $base01;
	border-bottom: 3px solid $base02;
	border-left: 3px solid $base03;

	border-radius: 15px 0 0 15px;

	background: $base04;
}

.workspaces button {
	border-color: $base04;
	border-style: solid;
	border: 5px;
}

.workspaces button.focused {
	background-color: $base02;
}
.workspaces button.hover {
	all: unset;
}
.workspaces button:active {
    background-color: $base01;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
	border: none;
    background-color: transparent;
}

button:active {
    background-color: $base01;
}

button:hover {
    border-bottom: 3px solid $base05;
}


label {
    font-weight: bold;
	color: black;
}

.client-title {
    color: $base01;
	background: $base05;
    color: black;
	margin-left: -8px;

	padding-right: 15px;
	padding-left: 10px;

	border-radius: 0 15px 15px 0;

	border-top: 3px solid $base05;
	border-bottom: 3px solid $base03;
	border-right: 3px solid $base08;
}

progress,
highlight {
    min-height: 8px;
}

.volume {
	color: $base01;
	background: $base07;
    color: black;
	margin-left: -8px;

	padding-right: 15px;
	padding-left: 10px;

	border-radius: 15px 0 0 15px;

	border-top: 3px solid $base05;
	border-bottom: 3px solid $base05;
	border-left: 3px solid $base05;
}

.clock {
	color: $base01;
	background: $base08;
    color: black;
	margin-left: -8px;

	padding-right: 15px;
	padding-left: 10px;

	border-top: 3px solid $base09;
	border-bottom: 3px solid $base09;
}

.systray {
	color: $base03;
	background: $base08;
    color: black;
	margin-left: -8px;

	padding-right: 5px;
	border-radius: 0 15px 15px 0;

	border-top: 3px solid $base09;
	border-bottom: 3px solid $base09;
	border-right: 3px solid $base09;
}
